@using StockApp.Models.Entites.DTOs
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<ProductDTO>

<!DOCTYPE html>
<html>

<head> </head>

<body>

    @using (Html.BeginForm("Index", "Product", FormMethod.Post))
    {
        <div class="form-group row col-lg-2">
            <label class="col-sm-2 col-form-label"> Ara </label>
            @Html.TextBox("searchText", null, new { @class = "form-control" })
        </div>
        <button type="submit"> Ara </button>
    }

    <table itemid="tbl1" class="table table-bordered table-hover">
        <thead>
            <tr>

                <th> Ürün Adı </th>

                <th> Kategori Adı </th>

                <th> Marka </th>

                <th> Fiyat </th>

                <th> Stok </th>

                <th colspan="2"> İşlemler </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(x => item.ProductId)
                    <br />
                    <td> @item.ProductName </td>

                    <td> @item.CategoryName</td>

                    <td> @item.Brand </td>

                    <td> @item.Price </td>

                    <td> @item.Stock </td>

                    <td style="width:100%; display:flex; flex-direction:row; justify-content:center; align-items:center;">

                        @Html.ActionLink("Güncelle", "Update", "Product", new { @id = item.ProductId }, new { @class = "btn btn-warning", @style = "width:45%; margin-right:3%;" })
                        @Html.ActionLink("Sil", "Delete", "Product", new { @id = item.ProductId }, new { @class = "btn btn-danger", @style = "width:45%;" })

                    </td>
                </tr>
            }
        </tbody>

    </table>
    @Html.ActionLink("Yeni Ürün Ekle", "Add", "Product", null, new { @class = "btn btn-primary btn-md", })
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
   
</body>
</html>