@using StockApp.Models.Entites.DTOs;
@model List<ProductDTO>



<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <table class="table table-bordered table-hover" style="text-align:center">
        <tr>

            <th> Ürün Adı </th>

            <th> Kategori Adı </th>

            <th> Marka </th>

            <th> Fiyat </th>

            <th> Stok </th>
            <th colspan="2"> İşlemler </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(x=> item.ProductId) <br/>
                <td> @item.ProductName </td>

                <td> @item.CategoryName</td>

                <td> @item.Brand </td>

                <td> @item.Price </td>

                <td> @item.Stock </td>

                <td style="width:40%; justify-content:center; align-items:center">
                    @Html.ActionLink("Güncelle", "Update", "Product", new { @id = item.ProductId }, new { @class = "btn btn-warning", @style = "width:30%;" })
                    @Html.ActionLink("Sil", "Delete", "Product", new { @id = item.ProductId }, new { @class = "btn btn-danger", @style = "width:30%;" })
                </td>

            </tr>
        }
        @Html.ActionLink("Yeni Ürün Ekle", "Add", "Product", new { @class = "btn btn-warning", @style = "width:30%;" })
    </table>

   
</body>
</html>