@using StockApp.Models.Entites.Concrete;
@model List<Category>

<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        <table class="table table-bordered table-hover">
            <tr>
                <th> Kategori ID</th>
                <th> Kategori Adı</th>
            </tr>

            @foreach(var item in Model)
            {
                <tr>
                    <td> @item.CategoryId </td>
                    <td> @item.CategoryName </td>
                    <td> @Html.ActionLink("Güncelle", "Update", "Category" , new {id = item.CategoryId})</td>
                    <td> @Html.ActionLink("Sil", "Remove", "Category",new{ id = item.CategoryId })</td>
                </tr>
            }
        </table>

        @Html.ActionLink("Yeni Kategori Ekle", "Add", "Category")
    </body>
    </html>